.buyer-order {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buyer-order .buyer-order-list {
    width: 70dvw;
    height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.buyer-order .buyer-order-list .buyer-order-item {
    width: 55dvw;
    height: 20dvh;
    margin: 4dvh 1dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-left{
    width: 2dvw;
    height: 21dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f6;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-left img{
    width: 2dvw;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center {
    width: 51dvw;
    height: 21dvh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f2f6;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-right {
    width: 2dvw;
    height: 21dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f6;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-right img{
    width: 2dvw;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-id{
    width: 100%;
    height: 5dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f2f6;
}


.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-id .buyer-order-item-center-id-id {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-id .buyer-order-item-center-id-status .active{
    width: 14dvw;
    height: 3dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    background-color: #2ed574c7;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-id .buyer-order-item-center-id-status .inactive{
    width: 14dvw;
    height: 3dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    background-color: #ff475685;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body img{
    width: 5dvw;
    margin-left: 2dvw;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-info {
    width: 20dvw;
    margin-left: 5dvw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f2f6;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-action {
    width: 10dvw;
    height: 100%;
    margin-left: 5dvw;
    display: flex;
    flex-direction: column;
    background-color: #f1f2f6;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-action p{
    width: 14dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-action .deliver-pend {
    width: 5dvw;
    height: 3dvh;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    background-color: #ffa6028a;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-action .deliver-comp{
    width: 10dvw;
    height: 3dvh;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    background-color: #2ed57481;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-action button{
    width: 13dvw;
    height: 5dvh;
    margin: 2px 0px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background-color: #c44569;
}

.buyer-order .buyer-order-list-pagination {
    width: 55dvw;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.buyer-order .buyer-order-list-pagination button{
    width: 8dvw;
    height: 5dvh;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    background-color: #c44569;
}

.buyer-order .buyer-order-list-pagination button:disabled{
    width: 8dvw;
    height: 5dvh;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000000;
    border: 1px solid #000;
    border-radius: 2px;
    background-color:transparent;
}

.buyer-order .buyer-order-list-pagination p{
    height: 5dvh;
    padding: 0px 10px;
    border: 1px solid #000;
    margin: 0px 10px;
    width: 50px;
    height: 5dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 600px) {
    .buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-right {
        display: none;
    }
    .buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-left{
        display: none;
    }
    .buyer-order .buyer-order-list {
        width: 90dvw;
        height: 90dvh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    .buyer-order .buyer-order-list .buyer-order-item {
        width: 80dvw;
        height: 20dvh;
        margin: 5dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: 'Lato', sans-serif;
    }
    .buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center {
        width: 80dvw;
        height: 25dvh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-color: #f1f2f6;
    }
    .buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-id{
        width: 80dvw;
        height: 3dvh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f1f2f6;
    }
    .buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-id .buyer-order-item-center-id-id {
        width: 45dvw;
        display: flex;
        align-items: center;
        font-size: 10px;
        justify-content: flex-start;
    }
    .buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-id .buyer-order-item-center-id-id p{
        margin: 0;
        font-size: 10px;
    }

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-id .buyer-order-item-center-id-status .active{
    width: 14dvw;
    height: 2.7dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    padding: 0;
    margin: 0;
    background-color: #f1f2f6;
   color: #2ed574c7;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-id .buyer-order-item-center-id-status .inactive{
    width: 14dvw;
    height: 2.7dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    padding: 0;
    margin: 0;
    background-color: #f1f2f6;
    color: #ff475685;
}
.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body {
    height: 17dvh;
    width: 80dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body img{
    width: 20dvw;
}
.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-info {
    width: 60dvw;
    height: 17dvh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: #f1f2f6;
}
.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-info p{
    font-size: 10px;
}
.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-action {
    width: 40dvw;
    height: 15dvh;
    display: flex;
    margin: 0;
    flex-direction: column;
    background-color: #f1f2f6;
}
.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-action p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    font-size: 10px;
}
.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-action .deliver-pend {
    width: 15dvw;
    height: 3dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    background-color: #ffa6028a;
}

.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-action .deliver-comp{
    width: 15dvw;
    height: 3dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    background-color: #2ed57481;
}


.buyer-order .buyer-order-list .buyer-order-item .buyer-order-item-center .buyer-order-item-center-body .buyer-order-item-center-action button{
    width: 15dvw;
    height: 3dvh;
    margin: 2px 0px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background-color: #ff4757;
}
.buyer-order .buyer-order-list-pagination {
    width: 80dvw;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.buyer-order .buyer-order-list-pagination button{
    width: 15dvw;
    height: 5dvh;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    background-color: #c44569;
}

.buyer-order .buyer-order-list-pagination button:disabled{
    width: 15dvw;
    height: 5dvh;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000000;
    border: 1px solid #000;
    border-radius: 2px;
    background-color:transparent;
}

.buyer-order .buyer-order-list-pagination p{
    height: 5dvh;
    padding: 0px 10px;
    border: 1px solid #000;
    margin: 0px 10px;
    width: 40px;
    height: 5dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
}