.seller {
    width: 100vw;
    height: 100vh;
    min-height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.seller-sidebar {
    width: 23dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    border-right: 0.5px solid #2f3542;
}
.seller-main {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.seller-loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #c44569;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}


.seller-sidebar-list-pages {
    width: 89%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 20px;
    color: #2f3542;
    
}

.seller-sidebar-list-pages:hover {
    background-color:#ffffff86;
}

.buyer-sidebar-nav-btns .lang {
    width: 5dvw;
    height: 5dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 20px;
    background-color:transparent;
}

.buyer-sidebar-nav-btns .lang  .lang-icon{
    color: #303952;
    font-size: 25px;
}

.buyer-sidebar-nav-btns .lang  select{
    width: 4dvw;
    height: 3dvh;
    border: none;
    outline: none;
    color: #303952;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
}

.buyer-sidebar-nav-btns .lang  select option{
    outline: none;
    border: none;
    color: #303952;
}


@media screen and (max-width: 600px) {
    .seller .buyer-sidebar .buyer-sidebar-nav .buyer-sidebar-nav-logo {
        padding-top: 25px;
        height: 33dvh; 
        width: 10dvw;
        cursor: pointer;
        background-color: #fff;
    }
    .seller .buyer-sidebar .buyer-sidebar-filter {
        margin: 0px;
        width: 63dvw;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        z-index: 11;
        background-color: #ffffff;
    }
    .seller .buyer-sidebar .buyer-sidebar-nav-plus {
        height: 33dvh;
        width: 10dvw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    .seller .buyer-sidebar .buyer-sidebar-nav .buyer-sidebar-nav-logo img {
        width: 10dvw;
        margin-top: 30px;
        transform: rotate(90deg);
    }
    .seller .buyer-sidebar .buyer-sidebar-nav .buyer-sidebar-nav-plus .buyer-sidebar-nav-plus-box {
        width: 10dvw;
        height: 7dvw;
        margin-left: 15px;
    }
    .seller .buyer-sidebar .buyer-sidebar-filter .seller-sidebar {
        width: 62dvw;
    }
    .seller .seller-main .buyer-sidebar-nav-two .buyer-sidebar-nav-logo{
        width: 10dvw;
    }
    .seller .seller-main .buyer-sidebar-nav-two .buyer-sidebar-nav-logo img{
        width: 10dvw;
        margin-top: 30px;
        transform: rotate(90deg);
    }
    .seller .seller-main .buyer-sidebar-nav-two .buyer-sidebar-nav-plus{
        width: 10dvw;
    }
    .seller .seller-main .buyer-sidebar-nav-two .buyer-sidebar-nav-plus .buyer-sidebar-nav-plus-box{
        width: 10dvw;
        height: 7dvw;
        margin-left: 15px;
    }
    .seller .seller-main .buyer-sidebar-nav-two .buyer-sidebar-nav-plus .buyer-sidebar-nav-plus-box img{
        width: 2dvw;
    }
}


.seller-main-loader {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* HTML: <div class="loader"></div> */
.seller-main-loader .seller-loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #c44569;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}