.sellergift {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
}

.sellergift .post-gifts{
    width: 100dvw;
    height: 20dvh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sellergift .post-gifts .post-btn{
    width: 20dvw;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 5px;
    margin-right: 10dvw;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Lato', sans-serif;
    background-color: #f1f2f6;
}

.sellergift .post-gifts .post-btn p{
    margin-left: 20px;
}

.sellergift .gift-list{
    width: 100dvw;
    height: 80dvh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sellergift .gift-list .gift-list-scroll {
    width: 83dvw;
    height: 75dvh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sellergift .gift-list .gift-list-scroll .gift-item{
    width: 78dvw;
    height: 20dvh;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f1f2f6;
}

.sellergift .gift-list .gift-list-scroll .gift-item img{
    width: 6dvw;
    margin-left: 40px;
}

.sellergift .gift-list .gift-list-scroll .gift-item .gift-item-info {
    height: 20dvh;
    width: 20dvw;
    margin-left: 40px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}

.sellergift .gift-list .gift-list-scroll .gift-item .gift-item-data{
    height: 20dvh;
    width: 30dvw;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}

.sellergift .gift-list .gift-list-scroll .gift-item .gift-item-delete-btn{
    height: 20dvh;
    width: 20dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}
.sellergift .gift-list .gift-list-scroll .gift-item .gift-item-delete-btn button{
    outline: none;
    border: none;
    width: 10dvw;
    height: 5dvh;
    color: #fff;
    cursor: pointer;
    background-color: #cf6a87;
    font-family: 'Lato', sans-serif;
}
@media screen and (max-width: 600px) {

.sellergift .post-gifts .post-btn{
    width: 45dvw;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 5px;
    margin-right: 10dvw;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Lato', sans-serif;
    background-color: #f1f2f6;
}

.sellergift .post-gifts .post-btn p{
    margin-left: 20px;
    font-size: 20px;
}
.sellergift .gift-list .gift-list-scroll .gift-item img{
    width: 13dvw;
    margin-left: 20px;
}
.sellergift .gift-list .gift-list-scroll .gift-item .gift-item-info {
    height: 20dvh;
    width: 25dvw;
    margin-left: 10px;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}
.sellergift .gift-list .gift-list-scroll .gift-item .gift-item-data{
    height: 20dvh;
    width: 20dvw;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}
.sellergift .gift-list .gift-list-scroll {
    width: 95dvw;
    height: 75dvh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.sellergift .gift-list .gift-list-scroll .gift-item{
    width: 90dvw;
    height: 20dvh;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f1f2f6;
}
.sellergift .gift-list .gift-list-scroll .gift-item .gift-item-delete-btn{
    height: 20dvh;
    width: 30dvw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}
.sellergift .gift-list .gift-list-scroll .gift-item .gift-item-delete-btn button{
    outline: none;
    border: none;
    width: 20dvw;
    height: 5dvh;
    color: #fff;
    cursor: pointer;
    background-color: #cf6a87;
    font-family: 'Lato', sans-serif;
}
}