.seller-withdraw {
    width: 85%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f1f2f6;
}

.seller-withdraw .seller-withdraw-input {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    border-radius: 10px;
    background-color: #f1f2f6;
}

.seller-withdraw .seller-withdraw-status-list  {
    height: 100%;
    width: 40%;
    border-radius: 0px 10px 10px 0px;
}

.seller-withdraw .seller-withdraw-input p{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.seller-withdraw .seller-withdraw-input .seller-withdraw-input-balance{
    width: 81.6%;
    height: 30%;
    border-radius: 10px;
    padding-left: 50px;
    font-size: 20px;
    background-color: #dfe4ea;
}

.seller-withdraw .seller-withdraw-input label{
    font-size: 25px;
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
}

.seller-withdraw .seller-withdraw-input input{
    width: 84%;
    height: 5%;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 5px;
}

.seller-withdraw .seller-withdraw-input button{
    width: 86%;
    height: 8%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    background-color: #c44569;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

.seller-withdraw .seller-withdraw-input .seller-withdraw-bank {
    width: 86%;
    height: 15%;
    margin-top: 20px;
    background-color: #f1f2f6;
}

.seller-withdraw .seller-withdraw-input .seller-withdraw-bank select{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 1px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: #dfe4ea;
}

.seller-withdraw .seller-withdraw-input .seller-withdraw-bank p {
    margin: 0;
}

.seller-withdraw .seller-withdraw-status-list  {
    width: 50dvw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.seller-withdraw .seller-withdraw-status-list  p{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction {
    width: 38dvw;
    height: 20dvh;
    margin-top: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Lato', sans-serif;
}

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction  img{
  height: 14dvh;
  margin: 0px 20px;
}

.request-scroll-list {
    width: 100%;
    height: 77dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}


.withdraw_modal{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f679;
}

/* HTML: <div class="loader"></div> */
.seller-withdraw .withdraw_modal .payment-loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #c44569;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
}

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center{
    width: 90%;
    height: 20dvh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f2f6;
    font-family: 'Lato', sans-serif;
}


.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center .seller-withdraw-status-transition-order {
    width: 80%;
    height: 10%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center .seller-withdraw-status-transition-order p{
    font-size: 15px;
    margin: 0;
}

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info{
    width: 100%;
    height: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-basic-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 10px;
}

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-basic-info p{
    margin: 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}


.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-bank-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 10px;
}

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-bank-info p{
    margin: 0;
    width: auto;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
} 

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-info-status{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}


.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-info-status p{
    margin: 0;
    width: 100%;
    height: 30%;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #ffa602a8;
    font-family: 'Lato', sans-serif;
}  

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-info-status button{
    margin: 0;
    width: 100%;
    height: 30%;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: none;color: #fff;
    background-color: #c44569;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-info-status .paid{
    margin: 0;
    width: 100%;
    height: 30%;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #2ed574a4;
    font-family: 'Lato', sans-serif;
}

.seller-withdraw .seller-withdraw-status-list .request-scroll-list .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-info-status .withdraw-declined{
    background-color: #ff4757;
}

@media screen and (max-width: 600px) {
    .seller-withdraw {
        width: 85%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        background-color: #f1f2f6;
    }
    .seller-withdraw .seller-withdraw-input {
        height: 100%;
        width: 72dvw;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 10px;
        border-radius: 10px;
        background-color: #f1f2f6;
    }
    
    .seller-withdraw .seller-withdraw-input .seller-withdraw-input-balance{
        width: 67dvw;
        height: 10dvh;
        border-radius: 10px;
        padding-left: 10px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #dfe4ea;
    }
    .seller-withdraw .seller-withdraw-input p{
        font-size: 20px;
        font-family: 'Lato', sans-serif;
    }
    .seller-withdraw .seller-withdraw-input label{
        font-size: 15px;
        margin-top: 10px;
        font-family: 'Lato', sans-serif;
    }
    
    .seller-withdraw .seller-withdraw-input input{
        width: 84%;
        height: 9%;
        border: none;
        outline: none;
        padding-left: 20px;
        border-radius: 5px;
    }
    .seller-withdraw .seller-withdraw-input .seller-withdraw-bank {
        width: 86%;
        height: 15%;
        margin-top: 7px;
        font-size: 16px;
        background-color: #f1f2f6;
    }
    .seller-withdraw .seller-withdraw-input .seller-withdraw-bank select{
        width: 64dvw;
        height: 30px;
        margin-top: 0px;
        outline: none;
        border: none;
        border-radius: 1px;
        margin-bottom: 10px;
        padding-left: 20px;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        background-color: #dfe4ea;
    }
    .seller-withdraw .seller-withdraw-input button{
        width: 86%;
        height: 8%;
        border-radius: 5px;
        outline: none;
        border: none;
        font-size: 15px;
        cursor: pointer;
        color: #fff;
        background-color: #c44569;
        margin-top: 10px;
        font-family: 'Lato', sans-serif;
    }
    .seller-withdraw .seller-withdraw-status-list  {
        height: 43dvh;
        width: 80dvw;
        border-radius: 0px 10px 10px 0px;
        background-color: #f1f2f6;
    }
    .seller-withdraw .seller-withdraw-status-list  p{
        font-size: 18px;
        padding: 0px 5px;
        margin-left: 25px;
        font-family: 'Lato', sans-serif;
    }
    .request-scroll-list {
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
    }
 
    .seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center{
        width: 100%;
        height: 20dvh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-color: #f1f2f6;
        font-family: 'Lato', sans-serif;
    }
    .seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center .seller-withdraw-status-transition-order {
        width: 60dvw;
        height: 10%;
        display: flex;
        align-content: center;
        justify-content: space-between;
        font-family: 'Lato', sans-serif;
    }
    
    .seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center .seller-withdraw-status-transition-order p{
        font-size: 10px;
        margin: 0;
    }
    .seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-basic-info p{
        margin: 0;
        font-size: 10px;
        font-family: 'Lato', sans-serif;
    }
    .seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-bank-info p{
        margin: 0;
        width: auto;
        font-size: 10px;
        font-family: 'Lato', sans-serif;
    }
    .seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center  .seller-withdraw-status-transition-order-info .seller-withdraw-status-transition-order-info-status p{
        margin: 0;
        width: 80%;
        height: 30%;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #ffa602a8;
        font-family: 'Lato', sans-serif;
    }
    .seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction {
        width: 70dvw;
        height: 50dvh;
        margin-top: 50px;   
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-family: 'Lato', sans-serif;
    }
    .seller-withdraw .seller-withdraw-status-list  .seller-withdraw-status-transaction .seller-withdraw-status-transaction-center{
        width: 90%;
        height: 20dvh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        font-family: 'Lato', sans-serif;
    }
             
}