.chat-box {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.chat-message {
    width: 100%;
    height: 73%;
    overflow-y: scroll;
    background-color: #ffffff;
}

.chat-box .chat-user-info-box {
    height: 9%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #2f35423a;
}
.chat-box .chat-user-info-box .chat-user-info-box-user {
    height: 80%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
}

.chat-box .chat-user-info-box .chat-user-info-box-user .chat-user-info-box-user-image{
    width: 60px;
    height: 80%;
}

.chat-box .chat-user-info-box .chat-user-info-box-user .chat-user-info-box-user-image .chat-circle{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.chat-box .chat-user-info-box .chat-user-info-box-user .chat-user-info-box-user-image .chat-circle .chat-online{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: greenyellow;
}
.chat-box .chat-user-info-box .chat-user-info-box-user .chat-user-info-box-user-image .chat-circle .chat-offline{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(215, 219, 207);
}
  


.chat-box .chat-user-info-box .chat-user-info-box-user .chat-user-info-box-user-image img {
    width: 60px;
    border-radius: 50%;
}

.chat-box .chat-user-info-box .chat-user-info-box-user .chat-user-info-box-user-name {
    width: auto;
    margin-left: 1dvw;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.chat-send {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f6;
    font-family: 'Lato', sans-serif;
}

.chat-box .chat-send input {
    margin: 10px 0px;
    width: 70%;
    height: 50%;
    border: none;
    outline: none;
    padding-left: 20px;
    background-color: #f1f2f6;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.chat-box .chat-send button {
    width: 20%;
    height: 53%;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #f1f2f6;
}

.chat-box .chat-send button img {
    width: 30px;
}

.chat-box .chat-typing-load {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff00;
}

.chat-box .chat-typing-load .chat-typing-loader{
    width: 130px;
    height: 50px;
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f6;
}

.chat-typing-load .chat-typing-loader .typing-loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

.message-image img {
    width: 50px;
    border-radius: 50%;
    margin: 0px 10px;
}

.left-text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: auto;
    margin-right: 55%;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
}

.left-text .message-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: auto;
    margin-left: 10px;
}

.left-text .message-image .chat-circle{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    position: relative;
    left: 20px;
    background-color: rgb(255, 255, 255);
}

.left-text .message-image .chat-circle .chat-online{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: greenyellow;
}

.left-text .message-image .chat-circle .chat-offline{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(215, 219, 207);
}

.left-text .message-text {
    min-height: 80px;
    max-height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    white-space: pre-wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #f1f2f6;
}

.left-text .message-text p{
    width: 100%;
    word-break: break-all;
}

.right-text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: auto;
    margin-left: 55%;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
}

.right-text .message-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: auto;
    margin-left: 10px;
}


.right-text .message-image .chat-circle{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    position: relative;
    left: 20px;
    background-color: rgb(255, 255, 255);
}

.image-text-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f2f6;
    background-color: #cf6a87;
}

.image-text-logo-receiver {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f2f6;
    background-color: #747d8c;
}
.right-text .message-image .chat-circle .chat-online{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: greenyellow;
}

.right-text .message-image .chat-circle .chat-offline{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(215, 219, 207);
}

.right-text .message-text {
    min-height: 80px;
    max-height: auto;
    width: 80%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    white-space: pre-wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #c44569;
}
.right-text .message-text p{
    width: 100%;
    word-break: break-all;
}


.chat-main-loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* HTML: <div class="loader"></div> */
  .chat-main-loader .chat-loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #c44569;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}

@media screen and (max-width: 600px) {
    .chat-box .chat-user-info-box {
        height: 9%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid #2f35423a;
    }
    .chat-box .chat-user-info-box .chat-user-info-box-user {
        height: 80%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 30px;
    }
    .chat-message {
        width: 100%;
        height: 73.7%;
        overflow-y: scroll;
        overflow-x: hidden  ;
        background-color: #ffffff;
    }
    .chat-box .chat-typing-load {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #ffffff00;
    }
    .chat-box .chat-typing-load .chat-typing-loader{
        width: 100px;
        height: 30px;
        display: flex;
        border-radius: 10px;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
        background-color: #f1f2f6;
    }
    .left-text {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: auto;
        margin-right: 10%;
        border-radius: 10px;
        font-size: 18px;
        margin-top: 10px;
        font-family: 'Lato', sans-serif;
    }
    
    .left-text .message-image {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        width: auto;
        margin-left: 0px;
    }
    
    .left-text .message-image .chat-circle{
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%; 
        position: relative;
        left: 0px;
        background-color: rgb(255, 255, 255);
    }
    
    .left-text .message-image .chat-circle .chat-online{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: greenyellow;
    }
    
    .left-text .message-image .chat-circle .chat-offline{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(215, 219, 207);
    }
    
    .left-text .message-text {
        min-height: 80px;
        max-height: auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        padding-left: 30px;
        border-radius: 10px;
        white-space: pre-wrap;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: #f1f2f6;
    }
    
    .left-text .message-text p{
        width: 100%;
        word-break: break-all;
    }
    
.right-text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: auto;
    margin-left: 10%;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
}

.right-text .message-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: auto;
    margin-left: 10px;
}


.right-text .message-image .chat-circle{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    position: relative;
    left: 20px;
    background-color: rgb(255, 255, 255);
}

.right-text .message-image .chat-circle .chat-online{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: greenyellow;
}

.right-text .message-image .chat-circle .chat-offline{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(215, 219, 207);
}

.right-text .message-text {
    min-height: 80px;
    max-height: auto;
    width: 80%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    white-space: pre-wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #c44569;
}
.right-text .message-text p{
    width: 100%;
    word-break: break-all;
}    
}