.blogs {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
}

.blogs .blog-list {
    width: 90dvw;
    height: 80dvh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.blogs p{
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10dvh;
}

.blogs .blog-list .blog-card {
    width: 80dvw;
    height: 30dvh;
    display: flex;
    margin-bottom: 10dvh;
    flex-direction: row;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

.blogs .blog-list .blog-card-img img{
    height: 30dvh;
}

.blog-card-text {
    display: flex;
    flex-direction: column;
    width: 20dvw;
    height: 30dvh;
    padding: 0;
    padding-left: 40px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.blog-card-text h2 {
    width: 25dvw;
    height: 10dvh;
    padding: 0;
    padding-top: 30px;
    margin: 0;
    font-size: 15px;
}

.blogs .blog-list .blog-card-text .blog-card-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.blogs .blog-list .blog-card-text .blog-card-info .blog-card-author{
    font-size: 15px;
}
.blogs .blog-list .blog-card-text .blog-card-info .blog-card-date {
    font-size: 15px;
}

.blogs .blog-list .blog-card-text .blog-card-info p{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.blogs .blog-list .blog-card-text .blog-card-summery {
    width: 25dvw;
    height: 30dvh;
    font-size: 13px;
    margin-bottom: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.blogs .blog-list .blog-card-text {
    width: 30dvw;
}

.blogs .blog-list .blog-card-button {
    width: 20dvw;
    height: 30dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogs .blog-list .blog-card-button button{
    width: 10dvw;
    height: 5dvh;
    outline: none;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    background-color: #ff4757;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 2dvh;
}

.blogs .nav-btn {
    width: 90dvw;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.blogs .nav-btn button{
    width: 8dvw;
    height: 5dvh;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    background-color: #c44569;
}

.blogs .nav-btn button:disabled{
    width: 8dvw;
    height: 5dvh;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000000;
    border: 1px solid #000;
    border-radius: 2px;
    background-color:transparent;
}

.blogs .nav-btn p{
    height: 5dvh;
    padding: 0px 10px;
    border: 1px solid #000;
    margin: 0px 10px;
    width: 50px;
    height: 5dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 600px) {
    .blogs .blog-list {
        width: 70dvw;
        height: 80dvh;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    .blogs .blog-list .blog-card {
        width: 70dvw;
        height: 30dvh;
        display: flex;
        margin-bottom: 10dvh;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'Lato', sans-serif;
        background-color: #f1f2f6;
    }
    .blogs .blog-list .blog-card-img img{
        height: 10dvh;
    }
    .blogs .blog-list .blog-card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50dvw;
        height: 10dvh;
        padding: 0;
        font-family: 'Lato', sans-serif;
    }
    .blogs .blog-list  .blog-card-text h2 {
        width: 60dvw;
        height: 5dvh;
        padding: 0;
        margin: 0;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blogs .blog-list .blog-card-text .blog-card-info {
        width: 25dvw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }
    .blogs .blog-list .blog-card-text h2 {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
    .blogs .blog-list .blog-card-text .blog-card-info p{
        margin: 0;
        padding: 0;
    }
    .blogs .blog-list .blog-card-img{
        margin: 0;
    }
    .blogs .blog-list .blog-card-text .blog-card-info .blog-card-author{
        font-size: 10px;
    }
    .blogs .blog-list .blog-card-text .blog-card-info .blog-card-date {
        font-size: 5px;
    }    
    .blogs .blog-list .blog-card-text .blog-card-summery {
        display: none;
    }
    .blogs .blog-list .blog-card-button {
        width: 40dvw;
        height: 10dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blogs .blog-list .blog-card-button button{
        width: 35dvw;
        height: 7dvh;
        outline: none;
        border: none;
        color: #ffffff;
        border-radius: 5px;
        background-color: #ff4757;
        margin-bottom: 20px;
        font-size: 10px;
        cursor: pointer;
        margin-top: 2dvh;
    }
    .blogs .nav-btn button{
        width: 20dvw;
        height: 5dvh;
        outline: none;
        border: none;
        cursor: pointer;
        color: #fff;
        border-radius: 2px;
        background-color: #c44569;
    }
    
    .blogs .nav-btn button:disabled{
        width: 20dvw;
        height: 5dvh;
        outline: none;
        border: none;
        cursor: pointer;
        color: #000000;
        border: 1px solid #000;
        border-radius: 2px;
        background-color:transparent;
    }
    .blogs {
        width: 70vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        overflow-x: hidden;
    }
    .blogs .nav-btn {
        width: 90dvw;
        height: 10dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}